body{
  padding: 0;
}

.text-center{
  text-align: center;
}

.float-right{
  float: right;
}

.input-text{
  padding: 9px 12px;
  border-radius: 3px;
  background: rgba(0,0,0,.02);
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: inset 0 6px 5px -5px rgba(32,36,39,.08);
  margin: 0;
  outline: 0;
  color: #757a7f;
}
