@import "../../helpers/variables";
@import "../../helpers/mixins";

.nav__item{
  display: inline-block;

  a{
    padding: 26px 28px;
    @include transition(.2s);
    &:hover{
      color: $primaryColor;
      @include transition(.2s);
    }
  }
}
