@import "../helpers/variables";

footer{
  background: $primaryColor;
  color: rgba(46,58,67,.72);
  font-size: 1.1em;
  width: $width;
  margin: auto;
  h3{
    font-family: AmaticSC, cursive;
    font-size: 2em;
  }

  .footer__col{
    padding: 40px;
  }

  .footer__scheduler{
    padding: 20px;
    span{
      float: right;
    }

    .footer__scheduler_item{
      border-bottom: 1px solid rgba(46,58,67,.2);
      padding: 10px;
    }
  }

  .footer__contact{
    padding: 20px;
    .footer__contact__item{
      margin: 20px;
      a{
        color: inherit;
      }
      svg{
        //font-size: 1.5em;
        height: 25px;
        width: 25px;
        margin-bottom: -5px;
      }
      .city{
        margin-left: 29px;
      }
    }
  }
}
