@import "../helpers/variables";

.checkout{
  width: 100%;
  margin: 45px -1px 24px 0;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #f1f1f1;
  thead{
    font-family: AmaticSC, cursive;
    font-size: 20px;
    th{
      padding-left: 10px;
      background: #f1f1f1;
      padding-top: 15px;
      padding-bottom: 15px;
      min-width: 32px;
    }
  }
  td{
    padding-left: 10px;
    border: 1px solid #f1f1f1;
  }
  td:first-child{
    text-align: center;
  }
  td:nth-child(2){
    max-width: 40px;
  }
  img{
    margin-left: 10px;
    border-radius: 50%;
    width: 100px;
  }
}

.totals{
  h3{
    text-align: left;
    margin-bottom: 20px;
    color: #2e3a43;
  }
  table{
    width: 100%;
    border: 2px solid #f1f1f1;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 30px;
    td:first-child{
      padding-top: 15px;
      padding-bottom: 15px;
      background: #f1f1f1;
      font-family: AmaticSC, cursive;
      font-size: 25px;
    }
    td{
      padding-left: 20px;
    }
  }
}
