.location{
  padding: 0;
  .section__title{
    background: url("../img/location.png") no-repeat fixed center center;
    background-size: cover;
    height: 140px;
    padding-top: 75px;
  }
  .section__core{
    background: white;
    color: black;
    &, .leaflet-container{
      height: 500px;
    }
  }

  .location__popup{
    p, tr{
      text-align: center;
    }
    p{
      font-style: italic;
    }
    table{
      margin: auto;
    }
  }
}
