@import "../helpers/mixins";

.menu__cat{
  margin: auto;
  td, th{
    text-align: left;
    padding: 10px;
  }
  th:first-child{
    width: 100px;
  }
  &__rotate{
    @include rotate(-35deg)
  }
}

.menu__row{
  padding: 30px 0;
  .container__col:first-child{
    padding-right: 10px;
    border-right: 1px solid #545454;
  }

  .container__col:last-child{
    margin-left: 10px;
  }
}

