@import "../helpers/variables";

.shop__item{
  width: 250px;
  padding: 5px;
  border: 1px solid rgba(2,2,2,.1);
  display: inline-block;
  margin: 5px;
  img{
    width: inherit;
    :hover{
      background: black;
    }
  }
  p, h4{
    text-align: center;
  }
  p{
    height: 50px;
  }
  h4{
    font-family: AmaticSC, cursive;
    font-size: 30px;
    margin: 0;
  }
  .ingredients{
    font-style: italic;
  }
  .shop__item__button, .btn{
    display: inline-block;
    width: 124px;
  }
  .shop__item__button:last-child{
    border: 1px solid white;
  }
  .btn{
    padding: 19px 13px;
  }
}

.shop__basket__title{
  margin-bottom: 10px;
}

.shop__basket__total{
  font-weight: bold;
  margin-left: 30px;
  span{
    float: right;
    margin-right: 20px;
  }
}

.shop__basket__item{
  border-bottom: 1px solid rgba(2, 2, 2, 0.1);
  padding-bottom: 10px;
  padding-top: 10px;
  h4,p{
    margin: 0;
  }
  p{
    font-style: italic;
  }
  span{
    float: right;
    margin-top: 9px;
    margin-right: 20px;
  }
  img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .shop__basket__content{
    width: 100%;
    display: inline-block;
    .input-text{
      width: 30px;
      float: right;
      margin-top: -15px;
      margin-right: 20px;
    }
  }
  svg{
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    :hover{
      color: black;
    }
  }
}
