.container {
  display: flex;

  .container__col{
    &-10{width: 10%;}
    &-25{width: 25%;}
    &-33{width: 33%;}
    &-50{width: 50%;}
    &-66{width: 66%;}
    &-75{width: 75%;}
    &-90{width: 90%;}
  }
}
