@import "../helpers/variables";

.label{
  background: $primaryColor;
  display: inline-block;
  padding: 9px 16px;
  font-size: 13px;
  font-weight: bold;
  color: #2e3a43;
  border-radius: 4px;
  margin-bottom: 10px;
}
