@import "../helpers/variables";

.news{
  background: #f2f2f2;
  img{
    position: relative;
    top: -50%;
    width: 100%;
  }
  .news_thumbnails{
    height: 300px;
    white-space: nowrap;
    margin: 1em 0;
    overflow: hidden;
  }
  h3{
    color: #2e3a43;
    text-align: left;
  }
  .news__core{
    padding: 20px 30px 30px;
    font-size: 15px;
    color: #757a7f;
  }
}

.news__summary{
  color: #2e3a43;
  padding: 0 30px;
  h3{
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 20px;
    color: #2e3a43;
  }
  svg{
    color: #d4d4d4;
    padding-right: 10px;
  }
  li{
    padding: 8px 0;
  }
}
