@import "../helpers/variables";

.content__section{
  padding: 20px 40px;

  .section__title{
    text-align: center;
    font-family: AmaticSC, cursive;
    font-size: 2em;
    margin: 0;
    img, h2{
      display: inline-block;
      vertical-align: middle;
    }

    img{
      margin: 5px 0 0;
    }
  }

  h3{
    text-align: center;
    font-family: AmaticSC, cursive;
    font-size: 2em;
    color: $primaryColor;
  }

  &__text, &__caption, &__content{
    text-align: center;
    font-family: AmaticSC, cursive;
    font-weight: lighter;
    font-size: 1.8em;
  }

  &__caption{
    color: rgba(255,255,255,.56);
  }

  &__noPadding{
    padding: 0;
  }

  &__white{
    background: white;
    color: #2e3a43;
  }
}
