.content__slider{
  height: 500px;
  margin-bottom: 20px;

  .slider__item{
    z-index: 99;
    text-align: center;
    h2{
      font-size: 4em;
      font-family: AmaticSC, cursive;
      margin-bottom: 10px;
    }

    p{
      font-size: 1.2em;
      margin-bottom: 40px;
    }
  }
}
