@mixin background($repeat, $position, $size){
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin display-flex(){
  display: -webkit-flex;
  display: flex;
}

@mixin transition($time){
  transition: $time all;
  -moz-transition: $time all;
  -webkit-transition: $time all;
  -o-transition: $time all;
}

@mixin rotate($deg){
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
}
