body{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: white;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

h2, h3{
  margin: 0;
}
