@import "../helpers/variables";
@import "../helpers/mixins";

.btn {
  padding: 19px 38px;
  line-height: 1;
  //text-transform: capitalize;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: transparent;

  &-primary {
    background-color: $primaryColor;
    @include transition(.2s);
    &:hover{
      @include transition(.2s);
      background-color: #2e3a43;
      color: white;
    }
  }

  &-outline{
    border: 2px solid white;
    color: white;
    font-weight: bold;
    @include transition(.3s);
    &:hover{
      @include transition(.3s);
      background: white;
      color: #2e3a43;
    }
  }

  &:focus{
    outline: none;
  }
}
