//@font-face {
//  font-family: AmaticSC;
//  src: url('../fonts/AmaticSC/AmaticSC-Regular.ttf');
//}

//@font-face {
//  font-family: AmaticSC;
//  src: url('../fonts/AmaticSC/AmaticSC-Bold.ttf');
//  //font-weight: bold;
//}


@font-face {
  font-family: AmaticSC;
  src: url('../fonts/AmaticSC/AmaticSC.woff');
  //font-weight: bold;
}
